# Power BI
*.pbix
# se quiser manter alguns pbix em releases, eles não entram no commit do dia a dia
# templates
!*.pbit

# Dados gerados
out/
data/out/

# Python
__pycache__/
*.pyc
.venv/
.env

# IDE / SO
.vscode/
.DS_Store
Thumbs.db
